@font-face {
    font-family: 'Press Start 2P';
    src: url('pixel.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 200;
}
span{
    font-size: 30px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFE1C6;
    font-family: 'Press Start 2P', sans-serif;
}

header {
    background: linear-gradient(to right, #FFC6D9, #48284A);
    width: 100%;
    height: 4.75rem;
    margin: 0;
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    padding-left: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    z-index: 5;
    overflow-x: hidden;
}

nav {
    display: flex;
    position: fixed;
    z-index: 10;
    font-family: 'Press Start 2P', sans-serif;
    width: 100%;
}

.logo {
    white-space: nowrap;
    width: 40%;
    padding: 1vh 1vw;
    text-align: center;
    padding-right: 20%;
}

.logo img {
    height: 5rem;
    width: 5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    padding: 0 3%;
    white-space: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a:hover::before {
    width: 90%;
}

.login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.hamburger div {
    width: 50px;
    height: 10px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}


.hamburger {
    display: none;
}


@media screen and (max-width: 1090px) {
    header{
        height: 10rem;
    }
    span{
        font-size: 50px;
    }
    nav {
        height: 10rem;
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#HomeHeader {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF7AE;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
}

#HomeSubheader {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF7AE;
    padding: 10px;
    font-size: 20px;
    z-index: 3;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

#HomePage {
    padding: 20px;
    text-align: center;
}

#ProductPage {
    background: #916c80;
    text-align: center;
    margin-top: 45%;
    height: 20rem;
    z-index: 7;
}

#ProductHead{
    padding-top: 2rem;
    font-size: 40px;
    z-index: 8;
}
#ProductSubHead{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 60%;
    padding-top: 1rem;
    font-size: 20px;
    z-index: 9;
}

@media screen and (max-width: 1090px) {
    #HomePage {
        padding-top: 15rem;
    }
    #HomeHeader{
        margin-top: 10rem;
        font-size: 50px;
    }
    #HomeSubheader{
        margin-top: 15rem;
        font-size: 30px;
        width: 60%;
    }
    #ProductPage{
        height: 40rem;
        margin-top: 100%;
    }
    #ProductHead{
        padding-top: 5rem;
        font-size: 50px;
    }
    #ProductSubHead{
        padding-top: 3rem;
        font-size: 30px;
        width: 80%;
    }
}
